#adamsilvermanPic { 
	background-image: url("TA_Pics/adam.jpg");
}

#adityagargPic { 
	background-image: url("TA_Pics/aditya.jpg");
}

#alandongPic { 
	background-image: url("TA_Pics/aland.jpg");
}

#alexanderloboPic { 
	background-image: url("TA_Pics/alex_l.jpg");
}

#alizaincharaniaPic { 
	background-image: url("TA_Pics/ali_c.jpg");
}

#ankitraghuramPic { 
	background-image: url("TA_Pics/ankit1.png");
}

#benthompsonPic { 
	background-image: url("TA_Pics/bthompson42.jpg");
}

#briannastacyPic { 
	background-image: url("TA_Pics/brianna_s.jpg");
}

#chrisconreyPic { 
	background-image: url("TA_Pics/cconrey3.jpg");
}

#chrisphamPic { 
	background-image: url("TA_Pics/cpham9.jpg");
}

#davidmesinaPic { 
	background-image: url("TA_Pics/dmesina3.jpg");
}

#edwardfoylePic { 
	background-image: url("TA_Pics/edward.jpg");
}

#francestsennPic { 
	background-image: url("TA_Pics/frances.jpg");
}

#hyderhasnainPic { 
	background-image: url("TA_Pics/hyder_h.jpg");
}

#jamesfergusonPic { 
	background-image: url("TA_Pics/jferguson38.jpg");
}

#jermainemedleyPic { 
	background-image: url("TA_Pics/jermaine.jpg");
}

#jimmynguyenPic { 
	background-image: url("TA_Pics/jimmy_n.jpg");
}

#johnmcgraelPic { 
	background-image: url("TA_Pics/jmcgrael3.jpg");
}

#justingenselPic { 
	background-image: url("TA_Pics/jgensel3.jpg");
}

#karayoganPic { 
	background-image: url("TA_Pics/kara_y.jpg");
}

#karanshahPic { 
	background-image: url("TA_Pics/karan_s.jpg");
}

#kellypessonPic { 
	background-image: url("TA_Pics/kelly.jpg");
}

#mandysalmonPic { 
	background-image: url("TA_Pics/mandy_s.png");
}

#mattoshaughnessyPic { 
	background-image: url("TA_Pics/matto.jpg");
}

#michaelavidanoPic { 
	background-image: url("TA_Pics/mavidano.jpg");
}

#michaelspadaroPic { 
	background-image: url("TA_Pics/michael_s.jpg");
}

#natashadeguntenPic { 
	background-image: url("TA_Pics/natasha.jpg");
}

#nicholasbuttonPic { 
	background-image: url("TA_Pics/nicholas_b.jpg");
}

#nickselbyPic { 
	background-image: url("TA_Pics/nselby3.jpg");
}

#nishantroyPic { 
	background-image: url("TA_Pics/nishant.jpg");
}

#omarmasriPic { 
	background-image: url("TA_Pics/omar_m.jpg");
}

#peterkoplikPic { 
	background-image: url("TA_Pics/peter_k.jpg");
}

#rachelsteppePic { 
	background-image: url("TA_Pics/rsteppe3.jpg");
}

#rajpatelPic { 
	background-image: url("TA_Pics/raj.jpg");
}

#rebeccacohenPic { 
	background-image: url("TA_Pics/rebecca_cohen.png");
}

#rebeccacottrillPic { 
	background-image: url("TA_Pics/rcottrill3.jpg");
}

#robcosbyPic { 
	background-image: url("TA_Pics/rcosby3.jpg");
}

#ryanwilliamsPic { 
	background-image: url("TA_Pics/ryan.jpg");
}

#seanmihmPic { 
	background-image: url("TA_Pics/sean.jpg");
}

#sivamanivasagamPic { 
	background-image: url("TA_Pics/smanivasagam3.jpg");
}

#sreeramamurthytripuramalluPic { 
	background-image: url("TA_Pics/sree.jpg");
}

#terrymaPic { 
	background-image: url("TA_Pics/terry.jpg");
}

#thompsonbertronPic { 
	background-image: url("TA_Pics/thompson_b.jpg");
}

#timothygreggPic { 
	background-image: url("TA_Pics/tgregg6.jpg");
}

#tylernguyenPic { 
	background-image: url("TA_Pics/tyler_n.jpg");
}

#tylerwanPic { 
	background-image: url("TA_Pics/tyler_w.jpg");
}

#wesparsonPic { 
	background-image: url("TA_Pics/twpv3.jpg");
}

#zacharyschlesingerPic { 
	background-image: url("TA_Pics/zach_s.jpg");
}

#zoeturner-yovanovitchPic { 
	background-image: url("TA_Pics/zoety.jpg");
}

#professorsmithPic { 
	background-image: url("TA_Pics/prof_smith.jpg");
}

#professorhudachek-buswellPic { 
	background-image: url("TA_Pics/prof_hb.jpg");
}

#professormcdanielPic { 
	background-image: url("TA_Pics/prof_mcd.jpg");
}

